####################
# Fastq_clean v1.0 #
####################
#This file is used to set all the Fastq_clean parameters to clean the Illumina forward sequenced reads
#The default setting is optimized for 100bp data. 

################
# Required(1)  #
################

#	file_list  The name of a txt file containing a list of input file names without any suffix 
file_list=fastqfiles1.list

################
#  Options(7)  #
################

#	run_R            run R script to remove low quality, ambiguous and adapter bases [Not selected]
run_R=1

#	save_clean0      keep the clean file containing virus for virus detection [Not selected]
save_clean0=0

#	primer_len		 specify the length of the primer,which will be directly clipped before any clean steps
primer_len=0

#	rRNA_removal     Remove rRNA sequences [Not selected]
rRNA_removal=1

#	rRNA_reference   a fasta file containing the rRNA reference sequences
rRNA_reference=rRNA_silva111.fasta

#	virus_removal    Remove virus sequences [Not selected]
virus_removal=1

#	virus_reference  a fasta file containing the virus reference sequences
virus_reference=vrl_genbank.fasta


#################################
#  R script-related options(8)  #
#################################

#	pattern_file  The name of a file containing a list of adapter pattern stringes
pattern_file=patterns_forward

#	quality_Cutoff   low quality bases below this parameter will be trimmed from both ends of reads [20]  
quality_Cutoff=20 

#	region_5Len      the potential low quality region from the 5' end of reads [10]
region_5Len=10 

#	region_3Len      the potential low quality region from the 3' end of reads [20]  
region_3Len=20

#	n_Cutoff         after low quality bases trimmed, the reads containing "N" with a number above this parameter will be removed [2] 
n_Cutoff=2

#	adapter_mismatch a mismatch ratio between adapters with the 3' ends of reads [0.1] 
adapter_mismatch=0.1

#	read_Length      reads with the length shorter than this parameter will be removed [25]
read_Length=25

#	read_PerYield    Number of reads in each iteration to limit the memory usage [5e5] 
read_PerYield=5e5

############################
#  BWA-related options(6)  #
############################

# BWA-related options(6):
#	max_dist      Maximum edit distance [4]
max_dist=4
 
#	max_open      Maximum number of gap opens [1] 
max_open=1
 
#	max_extension Maximum number of gap extensions [1] 
max_extension=1

#	len_seed      Take the first INT subsequence as seed for the BWA alignment [50]
len_seed=50

#	dist_seed     Maximum edit distance in the seed [2]
dist_seed=2
  
#	thread_num    Number of threads (multi-threading mode) [8] 
thread_num=8
