####################
# sRNA_clean v1.0 #
####################
#This file is used to set all the sRNA_clean parameters to clean the Illumina sequenced reads
#The default setting is optimized for small RNA data. 

################
# Required(1)  #
################

#	file_list      The name of a txt file containing a list of input file names without any suffix 
file_list=sRNA_fastq.list

################
#  Options(11) #
################

#	suffix       The suffix of the input files[fastq]
suffix=fastq

#	distance     The largest edit distance can be allowed between a adapter and reads[2]
distance=2

#	levenshtein       Using levenshtein distance, default is hamming distance [Not use]
levenshtein=0

#	max_N    Only report reads containing no more than given number of 'N' after trimming [0]
max_N=0

#	min_Len     Only report reads not shorter than given Length after trimming [15] 
min_Len=15

#	CPU     Number of processors to use [8] 
CPU=8
   
#	shuffle      Randomly orders the commands before executing them [Not use]
shuffle_flag=0

#	rRNA_removal     Remove rRNA sequences [Not use]
rRNA_removal=0

#	rRNA_reference      A fasta file containing the rRNA reference sequences
rRNA_reference=rRNA.fasta

#	virus_removal      Remove virus sequences [Not use]
virus_removal=0

#  --virus_reference     A fasta file containing the virus reference sequences
virus_reference=virus_genbank186.fasta



############################
#  BWA-related options(5)  #
############################

#	max_dist      Maximum edit distance [1]  
max_dist=1

#	max_open      Maximum number of gap opens [1]  
max_open=1

#	max_extension      Maximum number of gap extensions [1] 
max_extension=1

#	len_seed      Take the first INT subsequence as seed for the BWA alignment [15] 
len_seed=15

#	dist_seed     Maximum edit distance in the seed [1] 
dist_seed=1
